body {
    background: url(coffee-171653_1920.jpg) no-repeat center center fixed;
    background-size: cover;
}
.hero{
    color: #ffff;
    margin-top: 20%;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.tnail{
    width: 200px;
    height: 100px;
}